<%- include('../components/header') %>

<body class=" bg-gray-700 h-screen overflow-hidden">
    <%- include('./navbar') %>
    <%- include('./sidebar') %>

    <%- include('../components/snackbar', { 
        successMessage: successMessage, 
        errorMessage: errorMessage 
    }) %>

    <div class="flex item-center justify-center h-full">
    <div class="flex-1 flex justify-center items-center">
    <form action="/admin/gallery" method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto p-4 rounded shadow-lg bg-gray-800">
        <div class="mb-4">
          <label for="description" class="block text-gray-300 font-bold mb-2">Description</label>
          <textarea
            name="description"
            id="description"
            rows="3"
            class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-500"
            placeholder="Enter image description"
            required
          ></textarea>
        </div>
      
        <div class="mb-4">
          <label for="image" class="block text-gray-300 font-bold mb-2">Upload Image</label>
          <input
            type="file"
            name="image"
            id="image"
            class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-500"
          />
        </div>
      
        <button
          type="submit"
          class="w-full bg-blue-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
        >
          Upload
        </button>
    </form>
    </div>
  </div>
</body>

<%- include('../components/footer') %>